#input {
    position: absolute;
    left: 48px;
    top: 832px;
    width: 608px;
    height: 68px;
    border-width: 5px;
    border-color: transparent;
    background-color: transparent;
    font-size: 34px;
    font-family: Bazar;
    text-transform: uppercase;
    z-index: 1;
    display: none;
}

#screen {
    z-index: 0;
}
