<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>
            Feud
        </title>
        <script type="text/javascript" src="{% static "js/phaser.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
        <style>
            @font-face {
                font-family: Bazar;
                src: url("{% static "assets/Bazar.ttf" %}");
            }   
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
            WebFont.load({
                custom: {
                    families: ['Bazar']
                }
            });
        </script>
        <link rel="stylesheet" type="text/css" href="{% static "css/feud.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>

    </head>
    <body>
        <input id='input' type='text'/>
        <div id='screen'></div>
    </body>
    <script>
        //'use strict';

        $(document).ready(function() {
        function sanitize(answer) {
            return answer.trim().replace(/\s+/g, " ").toUpperCase();
        }

        var click_sound;
        var menu_state = {
            preload: function(){
                this.game.load.audio('sfx', '{% static 'assets/click.wav' %}');
                this.game.load.image('home_character', '{% static 'assets/homepagealfred.png' %}');
                this.game.load.spritesheet('start_button', '{% static 'assets/playbox.png' %}', 334, 154);
            },

            create: function(){
                click_sound = game.add.audio('sfx');
                var home_character = this.game.add.sprite(this.game.width/2, 420, 'home_character');
                home_character.anchor.setTo(0.5, 0.5);
                var start_button = this.game.add.button(this.game.width/2, 930, 'start_button', this.startClick, this, 0, 1);
                start_button.anchor.setTo(0.5, 0.5);
                this.game.stage.backgroundColor = '#66bda6';
            },

            startClick: function(){
                click_sound.play('', 0, 1, false);
                this.game.state.start('category_state');
            },

        };

        var category_state = {
            preload: function(){
                this.game.load.image('select_game_mode', '{% static 'assets/selectagamemode.png' %}');
                this.game.load.image('single_player', '{% static 'assets/singleplayer.png' %}');
                this.game.load.image('multiplayer', '{% static 'assets/multiplayer.png' %}');
                this.game.load.image('select_category', '{% static 'assets/selectacategory.png' %}');
                this.game.load.image('bar', '{% static 'assets/yellowverticalbar.png' %}');
                this.game.load.spritesheet('pop_music', '{% static 'assets/popmusic_ss.png' %}', 626, 78);
                this.game.load.spritesheet('farm', '{% static 'assets/farm_ss.png' %}', 626, 76);
                this.game.load.spritesheet('wall_street', '{% static 'assets/wallstreet_ss.png' %}', 626, 78);
                this.game.load.spritesheet('superheroes', '{% static 'assets/superhero.png' %}', 626, 78);
                this.game.load.audio('lobby', '{% static 'assets/lobby.mp3' %}');
                this.game.load.spritesheet('chips', '{% static 'assets/chipshover.1.png' %}', 626, 78);
            },
            
            create: function(){
                this.music = game.add.audio('lobby');
                this.music.play('', 0, 1, false);
                var single_player = this.game.add.sprite(-100, 301, 'single_player');
                this.add.tween(single_player).to({x: 220, y: 301}, 1000, Phaser.Easing.Bounce.Out, true, 0, false);

                var multiplayer = this.game.add.sprite(-100, 730, 'multiplayer');
                this.add.tween(multiplayer).to({x: 26, y: 730}, 1500, Phaser.Easing.Bounce.Out, true, 0, false);

                var mode = this.game.add.sprite(25, 0, 'select_game_mode');
                this.add.tween(mode).to({x: 25, y: 20}, 1500, Phaser.Easing.Linear.None, true, 300, 1000, true);

                var category = this.game.add.sprite(985, 0, 'select_category');
                this.add.tween(category).to({x: 985, y: 20}, 1500, Phaser.Easing.Linear.None, true, 0, 1000, true);

                this.game.add.sprite(958, this.game.height/2, 'bar').anchor.setTo(0.5, 0.5);
                this.game.stage.backgroundColor = '#e95e6d';

                var superheroes = this.game.add.button(this.game.width, 350, 'superheroes', function(){this.category_click('Super Heroes');}, this, 1, 0);
                this.add.tween(superheroes).to({x:1010, y:350}, 750, Phaser.Easing.Cubic.Out, true, 0, false);

                var farm = this.game.add.button(this.game.width, 475, 'farm', function(){this.category_click('Farm');}, this, 1, 0);
                this.add.tween(farm).to({x:1010, y:475}, 750, Phaser.Easing.Cubic.Out, true, 200, false);

                var wall_street = this.game.add.button(this.game.width, 600, 'wall_street', function(){this.category_click('Wall Street');}, this, 0, 1);
                this.add.tween(wall_street).to({x:1010, y:600}, 750, Phaser.Easing.Cubic.Out, true, 400, false);
                
                var pop_music = this.game.add.button(this.game.width, 725, 'pop_music', function(){this.category_click('Pop Music');}, this, 1, 0);
                this.add.tween(pop_music).to({x:1010, y:725}, 750, Phaser.Easing.Cubic.Out, true, 600, false);

                var chips = this.game.add.button(this.game.width, 850, 'chips', function(){this.category_click('Chips');}, this, 1, 0);
                this.add.tween(chips).to({x:1010, y:850}, 750, Phaser.Easing.Cubic.Out, true, 800, false);
            },

            category_click: function(category){
                click_sound.play('', 0, 1, false);
                this.music.stop();
                this.game.state.start('game_state', true, false, category);
            }
        };

        var game_state = {
            
            init: function(category) {
                this.category = category;
            },

            preload: function() {
                this.game.load.audio('wow', '{% static 'assets/wow.mp3' %}');
                this.game.load.audio('music', '{% static 'assets/music.mp3' %}');
                this.game.load.audio('bell', '{% static 'assets/bellsound.mp3' %}');
                this.game.load.audio('incorrect', '{% static 'assets/incorrect.mp3' %}');
                this.game.load.audio('correct', '{% static 'assets/correct.mp3' %}');
                this.game.load.audio('sfx', '{% static 'assets/countdown.mp3' %}');
                this.game.load.image('alfred', '{% static 'assets/alfredwithtextbubble.png' %}');
                this.game.load.image('input_box', '{% static 'assets/typeinbox.png' %}');
                this.game.load.image('banner', '{% static 'assets/banner.png'%}');
                this.game.load.image('scoreboard', '{% static 'assets/scorebox.png' %}');
                this.game.load.image('incorrectxmark', '{% static 'assets/incorrectxmark.png' %}');
                this.game.load.image('wow_answer', '{% static 'assets/wow.png' %}');
            },

            create: function() {
                var countdown_sound = game.add.audio('sfx');
                this.wow = game.add.audio('wow');
                this.correct = game.add.audio('correct');
                this.music = game.add.audio('music');
                this.bell = game.add.audio('bell');
                this.incorrect = game.add.audio('incorrect');
                countdown_sound.play('', 0, 1, false);
                this.countdown = true;
                this.round_time = 46000;
                this.countdown_style = {font : "200px Bazar"};
                this.countdown_timer(3);
            },

            start_round: function() {
                this.music.play('', 0, 0.3, false);
                var x_middle = this.game.width/2;
                var y_middle = this.game.length/2;
                var banner = this.game.add.sprite(x_middle, 115, 'banner');
                var alfred = this.game.add.sprite(x_middle + 500, 1000, 'alfred');
                var input_box = this.game.add.sprite(-320, 905, 'input_box');
                var scoreboard = this.game.add.sprite(this.game.world.centerX, this.game.world.centerY + 25, 'scoreboard');
                
                // category title setup
                var category_text = this.category.toUpperCase();
                var bazar_style = { font: "65px Bazar", fill: "#fff"};
                var category_field = this.game.add.text(1350, 800,category_text, bazar_style);
                
                category_field.anchor.setTo(0.5, 0.5);
                banner.anchor.setTo(0.5, 0.5);
                alfred.anchor.setTo(0.5, 0.5);
                input_box.anchor.setTo(0.5, 0.5);
                scoreboard.anchor.setTo(0.5, 0.5);

                // animation setup
                var tween_alfred = this.add.tween(alfred);
                tween_alfred.to({x: x_middle + 500, y: 650}, 600, Phaser.Easing.Cubic.Out);
                tween_alfred.start();

                var tween_category = this.add.tween(category_field);
                tween_category.to({x: 1350, y: 400}, 600, Phaser.Easing.Cubic.Out);
                tween_category.start();

                var tween_input_box = this.add.tween(input_box);
                tween_input_box.to({x: 350, y: 905}, 1000, Phaser.Easing.Bounce.Out, false, 600);

                this.answer_set = {}; 
                this.answer_lines = [];
                var state = this;
                tween_input_box.onComplete.add(function () {
                    var input = $('#input');
                    input.show();
					input.focus();
                    input.keyup(function (event) {
                        if (event.which === "\r".charCodeAt()) {
                            var val = sanitize(input.val());
                            if (val.length && !(val in state.answer_set)) {
                                state.answer_set[val] = true;
                                state.test(state.category, val);
                            }
                            else{
                                state.incorrect.play('', 0, 1, false);
                                state.pop_up('incorrectxmark');
                            }
                            input.val("");
                        }
                    });
                });
                tween_input_box.start();

                // timer setup
                this.x_clock_old = this.game.world.centerX - 80;
                this.x_clock = this.game.world.centerX;
                this.y_clock = this.game.world.centerY - 165;
                this.text = "";
                this.style = { font: "65px Bazar", align: "center"};
                this.time_field = this.game.add.text(this.x_clock, this.y_clock, this.text, this.style);
                this.time_field.anchor.setTo(0.5, 0.5);
                this.start_timer();

                this.score = 0;
                this.scoreboard_field = this.game.add.text(this.game.world.centerX, this.game.world.centerY + 50, "0", this.style);
                this.scoreboard_field.anchor.setTo(0.5, 0.5);
            },

            countdown_timer: function(second) {
                var second = parseInt(second);
                var state = this;
                if (second == -1) {
                    this.countdown = false;
                    this.start_round();
                    return;
                }
                if (second == 0)
                    var countdown_text = "GO!";
                else
                    var countdown_text = second.toString();
                var countdown_field = this.game.add.text(this.game.world.centerX, 0, countdown_text, this.countdown_style);
                countdown_field.anchor.setTo(0.5, 0.5);
                var tween_countdown = this.add.tween(countdown_field);
                tween_countdown.to({x: this.game.world.centerX , y: this.game.world.centerY}, 1000, Phaser.Easing.Bounce.Out);
                tween_countdown.start();
                tween_countdown.onComplete.add(function() {
                    state.game.world.remove(countdown_field);
                    state.countdown_timer(second - 1);
                });
            },

            // game timer
            start_timer: function() {
                var y_clock_frame = this.game.world.centerY - 165;
                this.game.stage.backgroundColor = '#e95e6d';
                this.timer = game.time.create(false);
                this.timer.loop(this.round_time, this.round_end, this);
                this.timer.start();
                
                this.circles = this.game.add.graphics(this.game.world.centerX, y_clock_frame);
                this.circles.lineStyle(10, 0x00000, 1);
                this.circles.drawCircle(0, 0, 75);
            },

            round_end: function() {
                var input = $('#input');
                input.off('keyup');
                input.blur();
                input.hide();
                this.music.stop();
                this.bell.play('', 0, 1, false);
                this.game.state.start('leaderboard_state', true, false, this.score);
            },

            render: function() {
                if (!this.countdown) {
                    this.time_field.x = this.x_clock;
                    
                    var time = parseInt(this.timer.duration / 1000);
                    
                    // if (time < 10) {
                    //     time = (this.timer.duration/ 1000).toFixed(1);
                    //     this.time_field.x = this.x_clock - 20;
                    // }

                    this.time_field.text = time;
                }
            },

            test: function(category, word){
                var state = this;
                var MAX_VISIBLE_ANSWERS = 9;
                $.getJSON('/score', {'category': category, 'word':word},
                    function(result){
                        var score = isNaN(result.distance) ? 0 : 41 - (Math.floor(result.distance) - 1);
                        console.log(score);
                        if (score < 1 || score > 40) {
                            state.incorrect.play('', 0, 1, false);
                            state.pop_up('incorrectxmark');
                            return;
                        }
                        if (score > 30){
                            state.wow.play('', 0, 1, false);
                            state.pop_up('wow_answer');
                        }
                        else{
                            state.correct.play('', 0, 1, false);
                        }

                        var point_x = 670;
                        var num_visible_answers = state.answer_lines.length;
                        state.score += score;
                        state.scoreboard_field.text = String(state.score);
                        var scoreString = String(score);
                        if (num_visible_answers < MAX_VISIBLE_ANSWERS) {
                            var word_x = 104;
                            var y = 312 + num_visible_answers * 56;
                            var word_line = state.game.add.text(word_x, y, word, {font: "50px Bazar"});
                            var point_line = state.game.add.text(point_x - word_line.context.measureText(scoreString).width, y,
                                    scoreString, {font: "50px Bazar", align: "right"});
                            state.answer_lines.push({word_line: word_line, point_line: point_line});
                            state.flip(word_line);
                            state.flip(point_line);
                        } else {
                            for (var i = 0; i < MAX_VISIBLE_ANSWERS - 1; ++i) {
                                var answer_line = state.answer_lines[i];
                                answer_line.word_line.text = state.answer_lines[i + 1].word_line.text;
                                answer_line.point_line.text = state.answer_lines[i + 1].point_line.text;
                                answer_line.point_line.x = state.answer_lines[i + 1].point_line.x;
                                answer_line.point_line.updateText();
                            }
                            var answer_line = state.answer_lines[MAX_VISIBLE_ANSWERS - 1];
                            answer_line.word_line.text = word;
                            answer_line.point_line.text = scoreString;
                            answer_line.point_line.x = point_x - answer_line.point_line.context.measureText(scoreString).width;
                            answer_line.point_line.updateText();
                            state.flip(answer_line.word_line);
                            state.flip(answer_line.point_line);
                        }
                    }
                ).error(function(){
                    state.incorrect.play('', 0, 1, false);
                    state.pop_up('incorrectxmark');
                });
            },

            flip: function (sprite) {
                var tween = this.add.tween(sprite);
                tween.from({y: sprite.y + sprite.height, height: 0}, 250);
                tween.start();
            },

            pop_up: function (sprite_name) {
                var sprite = this.game.add.sprite(this.game.world.centerX, this.game.world.centerY, sprite_name);
                sprite.anchor.setTo(0.5, 0.5);
                var sprite_appear = this.add.tween(sprite);
                sprite_appear.from({alpha: 0}, 500);
                var sprite_disappear = this.add.tween(sprite);
                sprite_disappear.to({alpha: 0}, 1000);
                sprite_disappear.onComplete.add(function () {
                    sprite.destroy();
                });
                sprite_appear.chain(sprite_disappear).start();
            }
        }

        var leaderboard_state = {

            init: function(score) {
                this.score = score;
            },

            preload: function() {
                this.game.load.image('leaderboard_banner', '{% static 'assets/leaderboard_banner.png' %}');
                this.game.load.image('mustache', '{% static 'assets/mustache_for_leaderboard.png' %}');
                this.game.load.image('main_menu_button', '{% static 'assets/main_menu_button.png' %}')
                this.game.load.spritesheet('main_menu_button', '{% static 'assets/mainmenubuttonhover.1.png' %}', 334, 110);
            },

            create: function() {
                this.game.stage.backgroundColor = "#66bda6";
                var bazar_style = { font: "65px Bazar", fill: "#fff", align: "center"};
                var x_middle = this.game.world.centerX;
                var y_middle = this.game.world.centerY;

                var mustache = this.game.add.sprite(x_middle, y_middle, 'mustache');
                var leaderboard_banner = this.game.add.sprite(x_middle, 0, 'leaderboard_banner');
                var main_menu_button = this.game.add.button(x_middle, 1200, 'main_menu_button', this.main_menu_click, this, 0, 1);

                leaderboard_banner.anchor.setTo(0.5, 0.5);
                mustache.anchor.setTo(0.5, 0.5);
                main_menu_button.anchor.setTo(0.5, 0.5);

                // leaderboard banner animation
                var tween_leaderboard = this.add.tween(leaderboard_banner);
                tween_leaderboard.to({x: x_middle , y: 175}, 600, Phaser.Easing.Cubic.Out);
                tween_leaderboard.start();

                var score_one_name = "1. TLDR"
                var score_two_name = "2. ABC"
                var score_three_name = "3. AAA"
                var player_name = "4. YOU"

                var score_one_points = "9001";
                var score_two_points = "4329";
                var score_three_points = "3221";
                var player_points = this.score.toString();

                var score_one_name_field = this.game.add.text(x_middle - 50, 375, score_one_name, bazar_style);
                var score_two_name_field = this.game.add.text(x_middle - 50, 475, score_two_name, bazar_style);
                var score_three_name_field = this.game.add.text(x_middle - 50, 575, score_three_name, bazar_style);
                var player_name_field = this.game.add.text(x_middle - 50, 675, player_name, bazar_style);

                var score_one_points_field = this.game.add.text(x_middle + 350, 375, score_one_points, bazar_style);
                var score_two_points_field = this.game.add.text(x_middle + 350, 475, score_two_points, bazar_style);
                var score_three_points_field = this.game.add.text(x_middle + 350, 575, score_three_points, bazar_style);
                var player_points_field = this.game.add.text(x_middle + 350, 675, player_points, bazar_style);

                score_one_name_field.anchor.setTo(0, 0.5);
                score_two_name_field.anchor.setTo(0, 0.5);
                score_three_name_field.anchor.setTo(0, 0.5);
                player_name_field.anchor.setTo(0, 0.5);

                score_one_points_field.anchor.setTo(0, 0.5);
                score_two_points_field.anchor.setTo(0, 0.5);
                score_three_points_field.anchor.setTo(0, 0.5);
                player_points_field.anchor.setTo(0, 0.5);

                var tween_score_one_name = this.add.tween(score_one_name_field);
                var tween_score_two_name = this.add.tween(score_two_name_field);
                var tween_score_three_name = this.add.tween(score_three_name_field);
                var tween_player_name = this.add.tween(player_name_field);
                var tween_score_one_points = this.add.tween(score_one_points_field);
                var tween_score_two_points = this.add.tween(score_two_points_field);
                var tween_score_three_points = this.add.tween(score_three_points_field);
                var tween_player_points = this.add.tween(player_points_field);
                var tween_main_menu = this.add.tween(main_menu_button);

                tween_score_one_name.to({x: x_middle - 250 , y: 375}, 600, Phaser.Easing.Bounce.Out);
                tween_score_one_name.start();

                tween_score_two_name.to({x: x_middle - 250 , y: 475}, 600, Phaser.Easing.Bounce.Out, false, 50);
                tween_score_two_name.start();

                tween_score_three_name.to({x: x_middle - 250 , y: 575}, 600, Phaser.Easing.Bounce.Out, false, 100);
                tween_score_three_name.start();

                tween_player_name.to({x: x_middle - 250 , y: 675}, 600, Phaser.Easing.Bounce.Out, false, 150);
                tween_player_name.start();

                tween_score_one_points.to({x: x_middle + 150 , y: 375}, 600, Phaser.Easing.Bounce.Out);
                tween_score_one_points.start();

                tween_score_two_points.to({x: x_middle + 150 , y: 475}, 600, Phaser.Easing.Bounce.Out, false, 50);
                tween_score_two_points.start();

                tween_score_three_points.to({x: x_middle + 150 , y: 575}, 600, Phaser.Easing.Bounce.Out, false, 100);
                tween_score_three_points.start();

                tween_player_points.to({x: x_middle + 150 , y: 675}, 600, Phaser.Easing.Bounce.Out, false, 150);
                tween_player_points.start();

                tween_main_menu.to({x: x_middle, y: 900}, 600, Phaser.Easing.Cubic.Out);
                tween_main_menu.start();

            },

            main_menu_click: function(){
                click_sound.play('', 0, 1, false);
                this.game.state.start('category_state');
            },
        }

        var game = new Phaser.Game(1680, 1050, Phaser.AUTO, 'screen');

        game.state.add('menu_state', menu_state);
        game.state.add('category_state', category_state);
        game.state.add('game_state', game_state);
        game.state.add('leaderboard_state', leaderboard_state);
        game.state.start('menu_state');
        });
    </script>
</html>
