<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>
            Feud
        </title>
        <script type="text/javascript" src="{% static "js/phaser.min.js" %}"></script>
    </head>
    <body>
        <div id='screen'>
        </div>
    </body>
    <script>
        var menu_state = {
            preload: function(){
                this.game.load.image('home_character', '{% static 'assets/homepagealfred.png' %}');
                this.game.load.image('start_button', '{% static 'assets/playbutton.png' %}');
            },

            create: function(){
                var home_character = this.game.add.sprite(this.game.width/2, 420, 'home_character');
                home_character.anchor.setTo(0.5, 0.5);
                var start_button = this.game.add.button(this.game.width/2, 930, 'start_button', this.startClick, this);
                start_button.anchor.setTo(0.5, 0.5);
                this.game.stage.backgroundColor = '#66bda6';
            },

            startClick: function(variable){
                this.game.state.start('category_state');
            },

        };

        var category_state = {
            preload: function(){
                this.game.load.image('select_game_mode', '{% static 'assets/selectagamemode.png' %}');
                this.game.load.image('single_player', '{% static 'assets/singleplayer.png' %}');
                this.game.load.image('multiplayer', '{% static 'assets/multiplayer.png' %}');
                this.game.load.image('select_category', '{% static 'assets/selectacategory.png' %}');
                this.game.load.image('bar', '{% static 'assets/yellowverticalbar.png' %}');
                this.game.load.image('pop_music', '{% static 'assets/popmusic.png' %}');
                this.game.load.image('wall_street', '{% static 'assets/wallstreet.png' %}');
                this.game.load.image('farm', '{% static 'assets/farm.png' %}');
                this.game.load.image('superheroes', '{% static 'assets/superheroes.png' %}');
            },
            
            create: function(){
                this.game.add.sprite(25, 0, 'select_game_mode');
                this.game.add.sprite(220, 301, 'single_player');
                this.game.add.sprite(26, 730, 'multiplayer');
                this.game.add.sprite(985, 0, 'select_category');
                this.game.add.sprite(958, this.game.height/2, 'bar').anchor.setTo(0.5, 0.5);
                this.game.stage.backgroundColor = '#d53243';

                this.game.add.button(990, 350, 'pop_music', function(){this.category_click('Pop Music');}, this);
                this.game.add.button(990, 450, 'wall_street', function(){this.category_click('Wall Street');}, this);
                this.game.add.button(990, 550, 'farm', function(){this.category_click('Farm');}, this);
                this.game.add.button(990, 650, 'superheroes', function(){this.category_click('Super Heroes');}, this);
            },

            category_click: function(category){
                this.game.state.start('game_state', true, false, category);
            }
        };

        var game_state = {
            
            init: function(game_dict) {
                this.game_dict = game_dict;
            },

            create: function() {
                alert(this.game_dict);
            }


        }

        var game = new Phaser.Game(1680, 1050, Phaser.AUTO, 'screen');

        game.state.add('menu_state', menu_state);
        game.state.add('category_state', category_state);
        game.state.start('menu_state');
        game.state.add('game', game_state);

    </script>
</html>
