<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>
            Feud
        </title>
        <script type="text/javascript" src="{% static "js/phaser.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
        <style>
            @font-face {
                font-family: Bazar;
                src: url("{% static "assets/Bazar.ttf" %}");
            }   
        </style>
        <link rel="stylesheet" type="text/css" href="{% static "css/feud.css" %}"/>
    </head>
    <body>
        <input id='input' type='text'/>
        <div id='screen'></div>
    </body>
    <script>
        'use strict';

        var menu_state = {
            preload: function(){
                this.game.load.image('home_character', '{% static 'assets/homepagealfred.png' %}');
                this.game.load.image('start_button', '{% static 'assets/playbutton.png' %}');
            },

            create: function(){
                var home_character = this.game.add.sprite(this.game.width/2, 420, 'home_character');
                home_character.anchor.setTo(0.5, 0.5);
                var start_button = this.game.add.button(this.game.width/2, 930, 'start_button', this.startClick, this);
                start_button.anchor.setTo(0.5, 0.5);
                this.game.stage.backgroundColor = '#66bda6';
            },

            startClick: function(){
                this.game.state.start('category_state');
            },

        };

        var category_state = {
            preload: function(){
                this.game.load.image('select_game_mode', '{% static 'assets/selectagamemode.png' %}');
                this.game.load.image('single_player', '{% static 'assets/singleplayer.png' %}');
                this.game.load.image('multiplayer', '{% static 'assets/multiplayer.png' %}');
                this.game.load.image('select_category', '{% static 'assets/selectacategory.png' %}');
                this.game.load.image('bar', '{% static 'assets/yellowverticalbar.png' %}');
                this.game.load.image('pop_music', '{% static 'assets/popmusic.png' %}');
                this.game.load.image('wall_street', '{% static 'assets/wallstreet.png' %}');
                this.game.load.image('farm', '{% static 'assets/farm.png' %}');
                this.game.load.image('superheroes', '{% static 'assets/superheroes.png' %}');
            },
            
            create: function(){
                var single_player = this.game.add.sprite(-100, 301, 'single_player');
                this.add.tween(single_player).to({x: 220, y: 301}, 1000, Phaser.Easing.Bounce.Out, true, 0, false);

                var multiplayer = this.game.add.sprite(-100, 730, 'multiplayer');
                this.add.tween(multiplayer).to({x: 26, y: 730}, 1500, Phaser.Easing.Bounce.Out, true, 0, false);

                var mode = this.game.add.sprite(25, 0, 'select_game_mode');
                this.add.tween(mode).to({x: 25, y: 20}, 1500, Phaser.Easing.Linear.None, true, 300, 1000, true);

                var category = this.game.add.sprite(985, 0, 'select_category');
                this.add.tween(category).to({x: 985, y: 20}, 1500, Phaser.Easing.Linear.None, true, 0, 1000, true);

                this.game.add.sprite(958, this.game.height/2, 'bar').anchor.setTo(0.5, 0.5);
                this.game.stage.backgroundColor = '#e95e6d';

                var pop_music = this.game.add.button(this.game.width, 350, 'pop_music', function(){this.category_click('Pop Music');}, this);
                this.add.tween(pop_music).to({x:990, y:350}, 750, Phaser.Easing.Cubic.Out, true, 0, false);

                var wall_street = this.game.add.button(this.game.width, 450, 'wall_street', function(){this.category_click('Wall Street');}, this);
                this.add.tween(wall_street).to({x:990, y:450}, 750, Phaser.Easing.Cubic.Out, true, 200, false);

                var farm = this.game.add.button(this.game.width, 550, 'farm', function(){this.category_click('Farm');}, this);
                this.add.tween(farm).to({x:990, y:550}, 750, Phaser.Easing.Cubic.Out, true, 400, false);

                var superheroes = this.game.add.button(this.game.width, 650, 'superheroes', function(){this.category_click('Super Heroes');}, this);
                this.add.tween(superheroes).to({x:990, y:650}, 750, Phaser.Easing.Cubic.Out, true, 600, false);
            },

            category_click: function(category){
                this.game.state.start('game_state', true, false, category);
            }
        };

        var game_state = {
            
            init: function(category) {
                this.category = category;
            },

            preload: function() {
                this.game.load.image('alfred', '{% static 'assets/alfredwithtextbubble.png' %}');
                this.game.load.image('input_box', '{% static 'assets/typeinbox.png' %}');
                this.game.load.image('banner', '{% static 'assets/banner.png'%}');
            },

            create: function() {
                var x_middle = this.game.width/2;
                var y_middle = this.game.length/2;
                var banner = this.game.add.sprite(x_middle, 115, 'banner');
                banner.anchor.setTo(0.5, 0.5);
                var alfred = this.game.add.sprite(x_middle + 500, 650, 'alfred');
                alfred.anchor.setTo(0.5, 0.5);
                var input_box = this.game.add.sprite(350, 905, 'input_box');
                input_box.anchor.setTo(0.5, 0.5);


                x_clock_old = this.game.world.centerX - 80;
                x_clock = this.game.world.centerX - 40;
                y_clock = this.game.world.centerY - 200;
                this.text = "Hello World";
                this.style = { font: "65px Arial", align: "center"};
                this.time_field = this.game.add.text(x_clock, y_clock, this.text, this.style);
                this.pre_timer();
                this.start_timer();
            },

            pre_timer: function() {
                //
            },

            start_timer: function() {
                var y_clock_frame = this.game.world.centerY - 165;
                this.game.stage.backgroundColor = '#e95e6d';
                this.timer = game.time.create(false);
                this.timer.loop(12000, this.round_end, this);
                this.timer.start();
                
                this.circles = this.game.add.graphics(this.game.world.centerX, y_clock_frame);
                this.circles.lineStyle(10, 0x00000, 1);
                this.circles.drawCircle(0, 0, 75);
            },

            round_end: function() {
                this.total++;
            },

            render: function() {
                this.time_field.x = x_clock;
                // game.debug.text("Time until event: " + this.timer.duration.toFixed(0), 32, 32);
                // game.debug.text("Test: " + this.timer.duration / 1000 , 32, 64);
                var time = parseInt(this.timer.duration / 1000);
                
                if (time < 10) {
                    time = (this.timer.duration/ 1000).toFixed(1);
                    this.time_field.x = x_clock - 8;
                }

                this.time_field.text = time;
            },

        }

        var game = new Phaser.Game(1680, 1050, Phaser.AUTO, 'screen');

        game.state.add('menu_state', menu_state);
        game.state.add('category_state', category_state);
        game.state.add('game_state', game_state);
        game.state.start('menu_state');
    </script>
</html>
